<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="secureSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<!-- Dev Values -->
	<secureSettings>
		<add key="ServerID" value="{51A58300-7E9D-4927-A57B-E5D700B11B55}"/>
		<add key="ServerKey" value="BwIAAACkAABSU0EyAAQAAAEAAQAfXCAjQhYIl18tHyr61PZCdI7snXAc6/WZytPA3h3MebbQys4D0CUUsLepPzbcfJFIvYD2O4OzXcfLMzmujFIIIqhhD9cAX2uohr9SV4IhBKkGskJOA0rDGVFWOlCTEYMQXjN5+JhKt2TiDQgXNVsGXzspljMWE5BkYI9Lkd2tvrtCmHtGb36Mpg+9k7THGMIO0yfeTvzYGFKHebmcQfCZwYDAhlS8PF2yRZt0I6fcW38pPWt4zXjvIICXjPZLPfTt77pvvR1JV2V7rcpn8LgwFlve+iYtKpL2y+NsiBvXT3aw0gLhkwloXxtsRAssgrMZSDrr1VP/vPfxYIjUVtzHOfFT67RadaYZKRIwOg/Poe9hTTcRYYL5+186NQfgybUlfxWltE9AG3PXR0P6oyVuWuW8AYmocWWd/PVVbPE6vIEWImuMM4Bw9L5sWtEIbtslUAQ6SDYi/Bh8mtyVexEHti+cp169w2buW/q+qSfthsqit3ELrpYxdGX14jnUA5VQAr8NL4afWU9Jac6NNR0c9gKn+6h9cwtsEoR7o030tSOMPn1/ytrxg2v0wCHrBKG0na6QsfMemelxBj7yEaXJqduW67k6QpalKfUijStBElhgTjohHGR3n/Z9fvHLUe3R4JaUEmIlG5tws1FhJZqXyXgMXdgqIrDKaskM/Tq5J1PMHmVDXbQdT+Mw9qNY5PSi3bAXIHxxE+e2cXYfWsdX2WE5SptU00aHTSbzEm5a346O8kMPlUrKIv/h6zprv2U="/>
		<add key="SystemKey" value="BgIAAACkAABSU0ExAAQAAAEAAQBlsJw+ibEmPy3P93PV7a8QjuHqS4QR+yP/+6CVUUpqvUE3hguQUzZ4Fw28hz0LwMLK8Sc1qb0s0FFiH9Ju6O+fIXruGzC3CjzN8wZRGoV2IvfmJ/nMKQ/NVESx9virJA1xTIZa9Za3PQvGbPh1ce0me5YJd3VOHKUqqJCbVeE7pg=="/>
	</secureSettings>
	
	<!-- Test Values -->
	<!--<secureSettings>
		<add key="ServerID" value="d53bbcc5-4794-4dfa-b096-3aa815692e66" />
		<add key="ServerKey" value="BwIAAACkAABSU0EyAAQAAAEAAQBBgKRIdzPGpaPt3hJ7Kxm8iVrKpfu4wfsJJf/3gBG5qhiS0rs5j5HqkLazdO5az9oPWnSTmNnww03WvCJhz8nhaJjXHoEK6xtcWL++IY+R3E27xaHaPQJSDvGg3j1Jvm0QKUGmzZX75tGDC4s17kQSCpsVW3vEuZ5gBdMLMi3UqaVW9EO7qOcEvVO9Cym7lxViqUhvq6c0nLzp6C6zrtZGjLtFqo9KDj7PMkq10Xc0JkzE1ptRz/YytMRacIDn8tptbHbxM8AtObeeiZ7V6Tznmi82jcAm2Jugr0D97Da2MXZuqEKLL5uPagL4RUHite3kT/puSNbTtqZLdqMtV5HGqVmn2a64JU3b8TIW8rKd5rKucG4KwoXRNQihJzX1it8vcqt6tjDnJZdJkuyDjdd6BKCYHWeX9mqDwKJ3EY+TRZmsl9RILyV/XviyrpTYBdDDmdQ9YLSLt0LtdpPpcRzciwMsBEfMH5NPFOtqSF/151Sl/DBdEJxOINXDl1qdO5MtgL7rXkfiGwu66n4hokRdVlj6TTcXTCn6YrUbzOts6IZJnQ9cwK693u9yMJ3Di0hp49L6LWnoWmW334ys+iOfob0i4eM+M3XNw7wGN/jd6t2KYemVZEnTcl5Lon5BpdoFlxa7Y1n+kXbaeSAwTJIe9HM6uoXIH61VCIk0ac69oZcG2/FhSeBO/DcGIQQqdFvuFqJY0g2qbt7+hmEZDZBehr3KpoRTgB5xPW/ThVhuaoZxlpEb4hFmKoj900knnQk=" />
		<add key="SystemKey" value="BgIAAACkAABSU0ExAAQAAAEAAQBzb9y6JXoJj70+TVeUgRc7hPjb6tTJR7B/ZHZKFQsTLkhQLHo+93x/f30Lj/FToE2xXqnuZPk9IV94L4ekt+5jgEFcf1ReuJT/G1dVb1POiEC0upGdagwW10T3PcBK+UzfSXz5kD0SiGhXamPnT/zuHiTtVjv87W+5WuvU1vsrsQ==" />
	</secureSettings>-->

	<appSettings>
        <add key="Inbox" value="C:\Development\DEV2 SCRUM Project\Dev\Dev2.Runtime.SignerApp\Files\In"/>
        <add key="Outbox" value="C:\Development\DEV2 SCRUM Project\Dev\Dev2.Runtime.SignerApp\Files\Out"/>
    </appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
