<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    
  
    <stepAssemblies>
      <stepAssembly assembly="Warewolf.UI.Tests" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MSTest" generatorProvider="TechTalk.SpecFlow.CodedUI.MsTest.SpecFlowCodedUiTestGenerator, TechTalk.SpecFlow.CodedUI.MsTest"
                                                                                                                             runtimeProvider="TechTalk.SpecFlow.UnitTestProvider.MsTestRuntimeProvider, TechTalk.SpecFlow" />
  </specFlow>
</configuration>