table { border-collapse: collapse; border-spacing: 0; }

table.data_table {
	
	border: 1px solid #CCB;
	margin-bottom: 2em;
	
	width: 500px;
}
	

table.data_table th {
	
	background: #E5E5E5;
	
	border: 1px solid #D5D5D5;
	
	color: #555;
	
	text-align: 
	left;
}


table.data_table tr {
	border-bottom: 1px solid #DDD;}


table.data_table td, table th {padding: 10px;}
table.data_table td {
	background: #F5F5F5;
	border: 1px solid #E0E0E0;
}