body
{
    background-color: #5c87b2;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

/* Used to id help text in wizard */
.helpRegion{
	display:block;
	font-size:12px;
	font-color:#00a;
}