<mat-sidenav-container fullscreen class="sidenav-container">
 <!-- <mat-sidenav #lsnav class="sidenav"
               position="start"
               role="navigation"
               [(opened)]="opened"
               [mode]="mobileQuery.matches ? 'side' : 'side'"
               [fixedInViewport]="mobileQuery.matches">
    <img src="../../assets/images/logo.png" />
    <mat-nav-list>
      <a mat-list-item routerLink="/executionlogging">
        <mat-icon class="material-icons icon-large-orange">view_list</mat-icon>
        <span class="label">Execution Logging</span>
      </a>
      <mat-divider></mat-divider>
      <!--<a mat-list-item (click)="toggleSideNav();">
        <mat-icon class="material-icons icon-large-orange">{{sideNavIcon}}</mat-icon>
        <span class="label">{{sideNavText}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>-->
  <mat-toolbar color="primary" class="sidenav-toolbar mat-toolbar mat-primary">
    <a class="navbar-brand" href="https://warewolf.io/index.php" target="_blank">
      <img id="brandLogo" class="brand-logo" src="./../assets/images/logo.png" width="240" alt="Warewolf microservices">
    </a>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="sidenav-fill-remaining-space"></span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <!--<li>
        <a>
          <mat-icon class="icon">input</mat-icon>
          <span class="label">Login</span>
        </a>
      </li>-->
      </ul>
    </div>
  </mat-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="footerWrap">
    <div class="footer">
      <div class="footerContent">
        <p>Copyright © 2018 Warewolf</p>
      </div>
    </div>
  </div>
</mat-sidenav-container>
