<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StorageLayerSegments" value="2"/>
        <!-- 2 segments @ 2 = 4MB of storage ;) -->
        <add key="StorageLayerSegmentSize" value="2097152"/>
        <!-- 2MB segments -->
    </appSettings>
</configuration>