<?xml version="1.0"?>
<configuration>
    
    <connectionStrings>
        <add name="Dev2TestingDB" connectionString="Data Source=RSAKLFSVRGENDEV;Initial Catalog=Dev2TestingDB;User ID=testUser;Password=test123;"/>
    </connectionStrings>
    
    <appSettings>
        <add key="xx" value="yyy" />
    </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>
    
</configuration>
