<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.4.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net45" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="FSharp.Core.3" version="0.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="TrieNet" version="1.0.2.16285" targetFramework="net461" />
</packages>