<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - Warewolf-ESB Sonar way" ToolsVersion="17.0">
  <Include Path="..\.sonarlint\warewolf_dotnet_frameworkcsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
  </Rules>
</RuleSet>