####################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio 2015.
####################################################################################
# File Extensions
####################################################################################
*.secureconfig
*.force
*.usi
*.uws
*.suo
*.user
*.ide
*.bkp
*.cache
*.fsi
*.tmp
*.dll
*.pdb
*.swp
*.exe
*.manifest
*.log
*.cer

####################################################################################
# Build working directories
####################################################################################
/Dev/packages/**
/Dev/TestResults/**
/TestResults/**
/Logs/**

####################################################################################
# Compile outputs
####################################################################################
obj
**/bin/*
!/Dev/Dev2.Server/bin/Debug
/Dev/Dev2.Server/bin/Debug/*
!/Dev/Dev2.Server/bin/Debug/Resources
/Dev/Dev2.Server/bin/Debug/Resources/**/VersionControl

####################################################################################
# These release workflows must be stored in "/Dev/BPM Resources - Release/Resources" ONLY!
####################################################################################
/Dev/Dev2.Server/bin/Debug/Resources/Examples/**
/Dev/Dev2.Server/bin/Debug/Resources/Hello World.xml
/Dev/Dev2.Server/bin/Debug/Resources/Shared Resources Server.xml