####################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio 2017.
####################################################################################
# File Extensions
####################################################################################
*.secureconfig
*.force
*.usi
*.uws
*.suo
*.user
*.ide
*.bkp
*.cache
*.fsi
*.tmp
*.dll
*.pdb
*.swp
*.exe
*.manifest
*.log
*.cer
*.vssscc
*.iml
*.playlist
*.sln.DotSettings
*.sln.DotSettings.user
*.stackdump
*.lnk
*.metaproj

####################################################################################
# Visual Studio
####################################################################################
.idea
.vs/**
/Dev/.vs/**
/Dev/.sonarlint
/Dev/MigrationBackup/**
/Dev/UpgradeLog.htm
/Dev/UpgradeLog2.htm
/Dev/UpgradeLog3.htm
tools/

####################################################################################
# Compile outputs
####################################################################################
obj
bin
/Dev/Warewolf.Tests/**
/Dev/Warewolf.Specs/**
/Dev/Warewolf.UIBindingTests/**
UIMapEditorBackups

####################################################################################
# SonarQube
####################################################################################
Dev/SonarQube/SolutionBinding.sqconfig
.sonarqube

####################################################################################
# Build working directories
####################################################################################
/Dev/packages/**
/Dev/TestResults/**
/TestResults/**
/Dev/*.bat
*.tmp_proj
/Dev/PrecompiledWeb/**

####################################################################################
# DotCover
####################################################################################
/DotCoverOutput/**
/DotCoverRunner.xml
/DotCoverOutput.html

####################################################################################
# axoCover
####################################################################################
/Dev/.axoCover
/Dev/.axoCover/settings.json
/Dev/.axoCover/reports
/Dev/.axoCover/runs

####################################################################################
# Tests
####################################################################################
/Dev/Dev2.IntegrationTests/TestEditorFlakeyTests.cs
/Dev/Dev2.Activities.Tests/LargeRowsDataSplit.txt
/Dev/warewolfBI/ClientApp/node_modules
/Dev/Warewolf.Web.UI.Tests/BrowserWebDrivers/Profiles/Firefox/**
/Dev/Warewolf.Web.UI.Tests/BrowserWebDrivers/Profiles/Firefox/places.sqlite

####################################################################################
# Versioning
####################################################################################
/Dev/Warewolf.Auditing/AssemblyCommonInfo.cs
/Dev/Warewolf.Data1.Tests
/Dev/.idea

