html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }



mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    margin: 0;
    padding: 0;
}

img.icon {
    height: 20px;   
    width: 20px;
    border: 0;
    margin-bottom: -5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/

.container {
    overflow: hidden;
    width: 100%;
}

#header {
    margin-bottom: 20px;
}

.sources-server-form {
    width: 525px;
}
/* Travis : Adjusted for Decision Wizard */

.decision-form{
	width:820px;
}

.switch-form{
	width:450px;
}

.decision-wrapper{
	width:100%;
	height:280px;
	overflow:auto;
}

.decision-mode{
	margin-top:10px; 
	margin-left:10px;
}

.decision-mode-text{
	float:right;
	width:250px; 
}

.floatRight{
	float:right;
	margin-right:10px;
}

.help {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.help-text {
    width: 200px;
    margin-top: 15px;
    background-color: #E9F4F7;
    padding: 10px 20px;
}
.help-text-min {
    background-color: #E9F4F7;
    padding: 2px;
}

.button-bar {
    margin: 20px 0 10px 0;
    text-align: right;
}


.button-bar button {
    min-width: 100px;
}

.field {
    margin-bottom: 7px;
}

/* Added for decision wizard */

.wideLabel{
	width:100%;
	text-align:left;
}

.shortField{
	width:210px;
}

.veryShortField{
	width:120px;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    /*text-shadow: 2px 2px 2px #ccc;*/
    float: left;
    margin-right:10px;
    text-align: right;
    width: 200px;
    line-height: 2em;
}

label.save {
    width: 100px;
}
label.checkbox, label.radio {
    display: inline;
    width: auto;
    float: none;
    border: 0;
}


input, textarea, select {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: red;
    font-size: 1.1em;
    margin: 20px 0 10px 0;
}

.message-success {
    color: green;
    font-size: 1.1em;
    margin: 20px 0 10px 0;
}

.error {
    color: red;
}

input.error,
.scrollable.error  {
	border: 2px solid red;
}

/* styles for validation helpers */
.field-validation-error {
    color: red;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid red;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

ol.selectable {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
    ol.selectable .ui-selecting {
        background: #FECA40;
    }

    ol.selectable .ui-selected {
        background: #F39814;
        color: white;
    }

ol.selectable li {
    margin: 0; 
    padding: 0.25em; 
    font-size: 1em;
    cursor:default;
}

div.scrollable {
    border:1px solid #E2E2E2; 
    overflow-y: scroll;
}

/* To hide the close button on all dialogs */
.ui-dialog-titlebar-close {
  visibility: hidden;
}
