::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-size: 12px;
    font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-size: 12px;
    font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-size: 12px;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-size: 12px;
    font-style: italic;
}

.container {
    width: 100%;
}

.well {
    padding: 5px;
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f4f3ef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 29px;
    padding-left: 15px;
    padding-right: 15px;
}



#brandLogo {
    border: 0;
    margin-top: -17px;
}



/*FOOTER*/
.footerWrap {
    width: 100%;
    bottom: 0px;
    margin-top: 20px;
}

.footer {
    width: 100%;
    margin: auto;
}

.footerContent {
    float: left;
    width: 100%;
    background-color: black;
    padding: 20px 0;
}

.footer p {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
}
/*FOOTER*/


.generalMessageWrap {
    width: 100%;
    bottom: 0px;
    margin-top: 20px;
}

.generalMessage {
    width: 100%;
    margin: auto;
}

.generalMessageContent {
    float: left;
    width: 100%;
    background-color: gray;
    padding: 20px 0;
}

.generalMessage p {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
}



#divExecutionList {
    display: none;
}
#generalMessageDiv {
    display: none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: inherit;
}

.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    overflow: auto;
    width: auto;
}

th {
    background-color: rgb(231, 228, 224);
    color: black;
    font-weight: normal;
    font-family: Source Sans Pro;
    font-size: 15px;
    padding: 8px 12px;
    text-align: left;
}

td {
    background-color: white;
    color: black;
    padding: 10px 15px;
}

* {
    box-sizing: border-box;
}




/*TABLE*/
#executionList {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}

    #executionList th {
        cursor: pointer;
        border-right: 1px solid #ddd;
        padding: 5px 5px 0px 5px;
    }

    #executionList tr {
        border-bottom: 1px solid #ddd;
        padding: 0px;
    }

    #executionList td {
        border-bottom: 1px solid #ddd;
        padding: 2px;
        overflow: hidden;
        white-space: nowrap
    }

    #executionList .exRow {
        padding-left: 5px;
    }

    #executionList .exId {
        min-width: 240px;
        max-width: 240px;
    }

    #executionList .exTime {
        min-width: 110px;
        max-width: 110px;
    }

    #executionList .exStatus {
        min-width: 62px;
        max-width: 62px;
    }

    #executionList .exStart {
        min-width: 150px;
        max-width: 150px;
    }

    #executionList .exComplete {
        min-width: 150px;
        max-width: 150px;
    }

    #executionList .exUrl {
        width: 100%;
    }

    #executionList .exUser {
        min-width: 150px;
        max-width: 150px;
    }

    #executionList .exResult {
        min-width: 50px;
        max-width: 50px;
    }

#filterTable {
    width: 50%;
}

    #filterTable td {
        padding: 0px;
        background-color: transparent
    }

    #filterTable .serverName {
        width: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        font-size: 17px;
    }

    #filterTable .protocol {
        padding-left: 5px;
        padding-right: 5px;
    }

    #filterTable .serverDesc {
        padding: 0px;
        width: auto;
        font-size: 18px;
        text-align: center;
    }

    #filterTable .serverText {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
    }

#filterTableRow {
    padding: 3px;
}
/*TABLE*/




/*DATEPICKER*/
#start_dt {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 34px;
}

.datepickerdropdown {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAIAAADvIroEAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAIhJREFUOE99w4cRgDAQBLHtvzKyyWByhjKo4E8z4vs+3vc1P8+Det836nVdqOd5oh7HgXXfd9Rt21DXdUVdlgV1nmes0zShjuOIOgwDqvcete97rF3XobZti9o0DWpd16hVVaGWZYm1KArUPM9RnXOoWZahpmmKNUkS1DiOUaMoQg3DEDUIAow/RjJ3qB92TU4AAAAASUVORK5CYII=);
    border: 1px solid #888;
    border-radius: 4px;
    padding: 1px;
    position: absolute;
    text-align: center;
}

    .datepickerdropdown td {
        padding: 2px;
    }

    .datepickerdropdown table {
        border-collapse: collapse;
        margin: auto;
        height: 20px;
    }

    .datepickerdropdown input {
        font-family: monospace;
        border: 1px solid #888;
        border-radius: 3px;
        margin: 1px;
        padding: 2px 1px;
        text-align: center;
    }

    .datepickerdropdown table input[type=button] {
        width: 2em;
    }

    .datepickerdropdown input[type=button] {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAElJREFUGFeNwwEGACEQQNF//6MlSRSRSMMkY86wdk+wj4e78zaz772Xcw6qioiw92atxZyTMQa9d1pr1FoppZBzJqVEjJEQwt8PXeRLuM/peRgAAAAASUVORK5CYII=);
    }

        .datepickerdropdown input[type=button]:hover {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFpJREFUGFdjePfuAgMIv3lzCoxfvTrK8OLFAYbnz/cyPHmyleHx480MDx+uY7h3bxnDnTsLGW7enMVw7dpkhqtXJzJcutTFcOFCG8O5c00MZ87UMZw6VUksBgDwaURPl4Jv2AAAAABJRU5ErkJggg==);
        }

        .datepickerdropdown input[type=button]:active {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFhJREFUGFdjOHWqkuHMmTqGc+eaGC5caGO4dKmL4erViQzXrk1muHlzFsOdOwsZ7t1bxvDw4TqGx483Mzx5spXh+fO9DC9eHGB49eoow5s3p8D43bsLpGAAr0NKhZpZNgcAAAAASUVORK5CYII=);
            padding: 2px 4px 2px 6px;
        }

    .datepickerdropdown input.selected {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAEBJREFUGFdj+P//P8P//5+A+CkQXwfiU0C8B4jXA/EiIJ4CxO1AXAnEOUAcB8SBQOwCxGZArAnE0kDMB8QMxGIAwnRFxCnPkL8AAAAASUVORK5CYII=);
    }

    .datepickerdropdown input[type=text] {
        background: #fff;
        color: #000;
    }

    .datepickerdropdown input.today {
        border: 1px solid #fb6604;
    }

    .datepickerdropdown input.othermonth {
        color: #aaa;
        border: 1px solid #bbb;
    }

.datepickershow img {
    border: 0;
    height: 24px;
}

.monthDsp {
    width: 80px;
    font-size: 9px;
}

.daysRow {
    font-family: sans-serif;
    font-size: 11px;
}
/*DATEPICKER*/




/*TIMEPICKER*/
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        float: left;
        clear: left;
        padding: 0 0 0 5px;
    }

    .ui-timepicker-div dl dd {
        margin: 0 10px 10px 40%;
    }

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-div .ui_tpicker_unit_hide {
    display: none;
}

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    border-bottom: solid 1px #555;
    width: 95%;
}

    .ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus {
        border-bottom-color: #aaa;
    }

.ui-timepicker-rtl {
    direction: rtl;
}

    .ui-timepicker-rtl dl {
        text-align: right;
        padding: 0 5px 0 0;
    }

        .ui-timepicker-rtl dl dt {
            float: right;
            clear: right;
        }

        .ui-timepicker-rtl dl dd {
            margin: 0 40% 10px 10px;
        }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine {
    padding-right: 2px;
}

    .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
    .ui-timepicker-div.ui-timepicker-oneLine dt {
        display: none;
    }

    .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
        display: block;
        padding-top: 2px;
    }

    .ui-timepicker-div.ui-timepicker-oneLine dl {
        text-align: right;
    }

        .ui-timepicker-div.ui-timepicker-oneLine dl dd,
        .ui-timepicker-div.ui-timepicker-oneLine dl dd > div {
            display: inline-block;
            margin: 0;
        }

            .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
            .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before {
                content: ':';
                display: inline-block;
            }

            .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
            .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before {
                content: '.';
                display: inline-block;
            }

    .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
    .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before {
        display: none;
    }
/*TIMEPICKER*/




/*BUTTON*/
#ResetButton {
    width: 45px;
    height: 23px;
    align-content: center;
    padding: 0px;
    margin-left: 2px;
    margin-top: 1px;
    background: #f3700d;
    color: white;
    border: none;
}

    #ResetButton:hover {
        background: #b14f05;
    }

#updateServer {
    width: 60px;
    height: 33px;
    align-content: center;
    padding: 0px;
    margin-left: 2px;
    background: #f3700d;
    color: white;
    border: none;
}

    #updateServer:hover {
        background: #b14f05;
    }
/*BUTTON*/




/*LINK*/
.details {
    font-size: 14px;
    margin-left: 10px;
    color: #333;
}

    .details:hover {
        color: #f3700d;
    }

.executionUrl {
    font-size: 12px;
    color: #333;
}

    .executionUrl:hover {
        color: #f3700d;
    }
/*LINK*/




/*FILTER*/
.filters {
    margin-bottom: 5px;
}

.filter-container {
    padding: 1px;
}

    .filter-container:last-of-type {
        padding-right: 0;
    }

    .filter-container input {
        -webkit-appearance: none;
        border: 1px solid #ccc;
        background: white;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        padding-left: 5px;
    }

        .filter-container input:focus {
            outline: none;
            border: 1px solid #f3700d;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 112, 13, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 112, 13, .6);
        }

#executionFilters {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 3px;
}

    #executionFilters td {
        padding: 2px;
        background-color: transparent;
        border: none;
        overflow: hidden;
        white-space: nowrap
    }

    #executionFilters .filterContainId {
        min-width: 240px;
        max-width: 240px;
    }

    #executionFilters .filterContainTime {
        min-width: 110px;
        max-width: 110px;
    }

    #executionFilters .filterContainStatus {
        min-width: 62px;
        max-width: 62px;
    }

    #executionFilters .filterContainStart {
        min-width: 150px;
        max-width: 150px;
    }

    #executionFilters .filterContainComplete {
        min-width: 150px;
        max-width: 150px;
    }

    #executionFilters .filterContainUrl {
        width: 100%;
        min-width: 150px;
    }

    #executionFilters .filterContainUser {
        min-width: 150px;
        max-width: 150px;
    }

    #executionFilters .filterContainReset {
        min-width: 50px;
        max-width: 50px;
    }
/*FILTER*/




/*DROPDOWN*/
#protocolDropdown {
    border: 1px solid #ccc;
    color: black;
    font-size: 15px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
    width: 80px;
}

    #protocolDropdown:focus {
        outline: 0;
        border: 1px solid #f3700d;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 112, 13, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 112, 13, .6);
    }
/*DROPDOWN*/




#port {
    width: 50px;
    padding-left: 6px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.form-control:focus {
    outline: 0;
    border: 1px solid #f3700d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 112, 13, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 112, 13, .6);
}





/* Up and Down Arrows */
.sortable th.descend:after {
    content: "\25B2";
}

.sortable th.ascend:after {
    content: "\25BC";
}

.navbar {
    min-height: 80px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #f3700d;
    }

.navbar-inverse .navbar-nav > li > p {
    color: #fff;
}
    /*.navbar-inverse .navbar-nav > li > p:hover {
        color: #f3700d;
    }*/





/*DIALOG*/
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content {
    background: #F9F9F9;
    border: 1px solid black;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#success {
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 5px !important;
}

.ui-widget-header {
    background: black;
    border: 0;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 14px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    margin: -8px -7px;
}

.ui-button-icon-only .ui-button-text, 
.ui-button-icons-only .ui-button-text{
    height:0px;
    width: 0px;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("../images/ui-icons_444444_256x240.png");
}

.ui-widget-content .ui-icon {
    background-image: url("../images/ui-icons_444444_256x240.png");
}

.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_444444_256x240.png");
}

.ui-state-default .ui-icon {
    background-image: url("../images/ui-icons_777777_256x240.png");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("../images/ui-icons_555555_256x240.png");
}

.ui-state-active .ui-icon {
    background-image: url("../images/ui-icons_ffffff_256x240.png");
}

.ui-state-highlight .ui-icon {
    background-image: url("../images/ui-icons_777620_256x240.png");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("../images/ui-icons_cc0000_256x240.png");
}
/*DIALOG*/




#loader {
    height: 100%;
    position: relative;
    width: 58px;
    height: 58px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loader {
    position: absolute;
    background-color: #f3700d;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    animation-name: bounce_loader;
    -o-animation-name: bounce_loader;
    -ms-animation-name: bounce_loader;
    -webkit-animation-name: bounce_loader;
    -moz-animation-name: bounce_loader;
    animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#loader_1 {
    left: 0;
    top: 23px;
    animation-delay: 0.41s;
    -o-animation-delay: 0.41s;
    -ms-animation-delay: 0.41s;
    -webkit-animation-delay: 0.41s;
    -moz-animation-delay: 0.41s;
}

#loader_2 {
    left: 6px;
    top: 6px;
    animation-delay: 0.55s;
    -o-animation-delay: 0.55s;
    -ms-animation-delay: 0.55s;
    -webkit-animation-delay: 0.55s;
    -moz-animation-delay: 0.55s;
}

#loader_3 {
    top: 0;
    left: 23px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

#loader_4 {
    right: 6px;
    top: 6px;
    animation-delay: 0.83s;
    -o-animation-delay: 0.83s;
    -ms-animation-delay: 0.83s;
    -webkit-animation-delay: 0.83s;
    -moz-animation-delay: 0.83s;
}

#loader_5 {
    right: 0;
    top: 23px;
    animation-delay: 0.97s;
    -o-animation-delay: 0.97s;
    -ms-animation-delay: 0.97s;
    -webkit-animation-delay: 0.97s;
    -moz-animation-delay: 0.97s;
}

#loader_6 {
    right: 6px;
    bottom: 6px;
    animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
}

#loader_7 {
    left: 23px;
    bottom: 0;
    animation-delay: 1.24s;
    -o-animation-delay: 1.24s;
    -ms-animation-delay: 1.24s;
    -webkit-animation-delay: 1.24s;
    -moz-animation-delay: 1.24s;
}

#loader_8 {
    left: 6px;
    bottom: 6px;
    animation-delay: 1.38s;
    -o-animation-delay: 1.38s;
    -ms-animation-delay: 1.38s;
    -webkit-animation-delay: 1.38s;
    -moz-animation-delay: 1.38s;
}



@keyframes bounce_loader {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.3);
    }
}

@-o-keyframes bounce_loader {
    0% {
        -o-transform: scale(1);
    }

    100% {
        -o-transform: scale(.3);
    }
}

@-ms-keyframes bounce_loader {
    0% {
        -ms-transform: scale(1);
    }

    100% {
        -ms-transform: scale(.3);
    }
}

@-webkit-keyframes bounce_loader {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(.3);
    }
}

@-moz-keyframes bounce_loader {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(.3);
    }
}