.container {
    width: 100%;
}

.well {
    padding: 5px;
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: inherit;
}

.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    overflow: auto;
    width: auto;
}

th {
    background-color: rgb(231, 228, 224);
    color: black;
    font-weight: normal;
    font-family: Source Sans Pro;
    font-size: 16px;
    padding: 10px 15px;
    text-align: left;
}

td {
    background-color: white;
    color: black;
    padding: 10px 15px;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 1px;
}

#myDateInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 1px;
}

#executionList {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}

    #executionList th {
        cursor: pointer;
        border-right: 1px solid #ddd;
    }

    #executionList tr {
        border-bottom: 1px solid #ddd;
    }

        #executionList tr.header, #executionList tr:hover {
            background-color: #f1f1f1;
        }


#filterTable {
    width: 50%;
}

    #filterTable td {
        padding: 0;
        background-color: transparent
    }

#filterTableRow {
    padding: 3px;
}

#protocolList {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

    #protocolList li {
        position: relative;
    }

li #protocolList {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

#start_dt {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 34px;
}

.datepickerdropdown {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAIAAADvIroEAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAIhJREFUOE99w4cRgDAQBLHtvzKyyWByhjKo4E8z4vs+3vc1P8+Det836nVdqOd5oh7HgXXfd9Rt21DXdUVdlgV1nmes0zShjuOIOgwDqvcete97rF3XobZti9o0DWpd16hVVaGWZYm1KArUPM9RnXOoWZahpmmKNUkS1DiOUaMoQg3DEDUIAow/RjJ3qB92TU4AAAAASUVORK5CYII=);
    border: 1px solid #888;
    border-radius: 4px;
    padding: 1px;
    position: absolute;
    text-align: center;
}
.datepickerdropdown td {
    padding: 2px;
}

    .datepickerdropdown table {
        border-collapse: collapse;
        margin: auto;
        height:20px;
    }

    .datepickerdropdown input {
        font-family: monospace;
        border: 1px solid #888;
        border-radius: 3px;
        margin: 1px;
        padding: 2px 1px;
        text-align: center;
    }

    .datepickerdropdown table input[type=button] {
        width: 2em;
    }

    .datepickerdropdown input[type=button] {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAElJREFUGFeNwwEGACEQQNF//6MlSRSRSMMkY86wdk+wj4e78zaz772Xcw6qioiw92atxZyTMQa9d1pr1FoppZBzJqVEjJEQwt8PXeRLuM/peRgAAAAASUVORK5CYII=);
    }

        .datepickerdropdown input[type=button]:hover {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFpJREFUGFdjePfuAgMIv3lzCoxfvTrK8OLFAYbnz/cyPHmyleHx480MDx+uY7h3bxnDnTsLGW7enMVw7dpkhqtXJzJcutTFcOFCG8O5c00MZ87UMZw6VUksBgDwaURPl4Jv2AAAAABJRU5ErkJggg==);
        }

        .datepickerdropdown input[type=button]:active {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFhJREFUGFdjOHWqkuHMmTqGc+eaGC5caGO4dKmL4erViQzXrk1muHlzFsOdOwsZ7t1bxvDw4TqGx483Mzx5spXh+fO9DC9eHGB49eoow5s3p8D43bsLpGAAr0NKhZpZNgcAAAAASUVORK5CYII=);
            padding: 2px 4px 2px 6px;
        }

    .datepickerdropdown input.selected {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAEBJREFUGFdj+P//P8P//5+A+CkQXwfiU0C8B4jXA/EiIJ4CxO1AXAnEOUAcB8SBQOwCxGZArAnE0kDMB8QMxGIAwnRFxCnPkL8AAAAASUVORK5CYII=);
    }

    .datepickerdropdown input[type=text] {
        background: #fff;
        color: #000;
    }

    .datepickerdropdown input.today {
        border: 1px solid #fb6604;
    }

    .datepickerdropdown input.othermonth {
        color: #aaa;
        border: 1px solid #bbb;
    }

.datepickershow img {
    border: 0;
    height: 24px;
}

.monthDsp {
    width: 80px;
    font-size: 9px;
}

.daysRow {
    font-family: sans-serif;
    font-size: 11px;
}