<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/opswolf/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="opswolf" />
            <add key="ClearTextPassword" value="bb8f39d1502836be3d8a4d45ed7abcfb73f9d918" />
        </github>
    </packageSourceCredentials>
</configuration>