<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/opswolf/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="opswolf" />
            <add key="ClearTextPassword" value="%WAREWOLF_NUGET_SOURCE%" />
        </github>
    </packageSourceCredentials>
</configuration>