<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="codecracker.CSharp" version="1.0.1" targetFramework="net47" developmentDependency="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Npgsql" version="3.0.5" targetFramework="net45" />
  <package id="SonarAnalyzer.CSharp" version="6.6.0.3969" targetFramework="net47" developmentDependency="true" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net47" />
  <package id="TSQL.Parser" version="1.1.1" targetFramework="net47" />
</packages>