<h2 mat-dialog-title>Manual Resumption</h2>
<mat-dialog-content>
  <!--<mat-card>AuditDate: {{logEntry.AuditDate}}</mat-card>
  <mat-card>WorkflowID: {{logEntry.WorkflowID}}</mat-card>
  <mat-card>WorkflowName: {{logEntry.WorkflowName}}</mat-card>
  <mat-card>ExecutionId: {{logEntry.ExecutionID}}</mat-card>
  <mat-card>AuditType: {{logEntry.AuditType}}</mat-card>
  <mat-card>PreviousActivity: {{logEntry.PreviousActivity}}</mat-card>
  <mat-card>PreviousActivityType: {{logEntry.PreviousActivityType}}</mat-card>
  <mat-card>PreviousActivityID: {{logEntry.PreviousActivityID}}</mat-card>
  <mat-card>NextActivity: {{logEntry.NextActivity}}</mat-card>
  <mat-card>NextActivityType: {{logEntry.NextActivityType}}</mat-card>
  <mat-card>NextActivityID: {{logEntry.NextActivityID}}</mat-card>
  <mat-card>ServerID: {{logEntry.ServerID}}</mat-card>
  <mat-card>ParentID: {{logEntry.ParentID}}</mat-card>
  <mat-card>ClientID: {{logEntry.ClientID}}</mat-card>
  <mat-card>ExecutingUser: {{logEntry.ExecutingUser}}</mat-card>
  <mat-card>Environment: {{logEntry.Environment}}</mat-card>
  <mat-card>ExecutionOrigin: {{logEntry.ExecutionOrigin}}</mat-card>
  <mat-card>ExecutionOriginDescription: {{logEntry.ExecutionOriginDescription}}</mat-card>
  <mat-card>ExecutionToken: {{logEntry.ExecutionToken}}</mat-card>
  <mat-card>AdditionalDetail: {{logEntry.AdditionalDetail}}</mat-card>
  <mat-card>IsSubExecution: {{logEntry.IsSubExecution}}</mat-card>
  <mat-card>IsRemoteWorkflow: {{logEntry.IsRemoteWorkflow}}</mat-card>-->

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">    Close  </button>
  <button class="mat-raised-button mat-primary" (click)="resume()">    Resume  </button>
</mat-dialog-actions>
