.x6-graph-background {
    background-color: var(--mud-palette-background);
}

.x6-widget-selection-box {
    border: 2px dashed var(--mud-palette-secondary);
}

.x6-widget-selection-inner {
    border: 1px solid var(--mud-palette-secondary);
}
.x6-widget-selection-selected{
    display : none !important;
}
.elsa-snapline .x6-widget-snapline-horizontal,
.elsa-snapline .x6-widget-snapline-vertical {
    stroke: var(--mud-palette-secondary);
}

.elsa-activity {
    border-left: solid 6px var(--mud-palette-info);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)); 
    height: 100%;
}