@model Tuple<List<Dev2.Common.LogEntry>,ExecutionLoggingRequestViewModel>
@using Dev2.Web2.Models.ExecutionLogging;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="ExecutionFilters" class="well">
    @{Html.RenderPartial("ExecutionFilters", Model.Item2);}
</div>

<div id="ExecutionList">
    @{Html.RenderPartial("ExecutionList", Model.Item1);}
</div>
