[
  {
    "$id": "1",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfCurrentExecutionsPerformanceCounter, Dev2.Infrastructure",
    "PerfCounterType": 0,
    "Category": "Warewolf",
    "Name": "Concurrent requests currently executing",
    "IsActive": true
  },
  {
    "$id": "2",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfNumberOfErrors, Dev2.Infrastructure",
    "PerfCounterType": 3,
    "Category": "Warewolf",
    "Name": "Total Errors",
    "IsActive": true
  },
  {
    "$id": "3",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfRequestsPerSecondPerformanceCounter, Dev2.Infrastructure",
    "Category": "Warewolf",
    "Name": "Request Per Second",
    "PerfCounterType": 1,
    "IsActive": true
  },
  {
    "$id": "4",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfAverageExecutionTimePerformanceCounter, Dev2.Infrastructure",
    "PerfCounterType": 2,
    "Category": "Warewolf",
    "Name": "Average workflow execution time",
    "IsActive": true
  },
  {
    "$id": "5",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfNumberOfAuthErrors, Dev2.Infrastructure",
    "PerfCounterType": 5,
    "Category": "Warewolf",
    "Name": "Count of Not Authorised errors",
    "IsActive": true
  },
  {
    "$id": "6",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfServicesNotFoundCounter, Dev2.Infrastructure",
    "PerfCounterType": 4,
    "Category": "Warewolf",
    "Name": "Count of requests for workflows which don't exist",
    "IsActive": true
  }
]