[
  {
    "$id": "1",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfNumberOfErrorsByResource, Dev2.Infrastructure",
    "PerfCounterType": 3,
    "Category": "Warewolf Services",
    "Name": "Total Errors",
    "ResourceId": "a64fc548-3045-407d-8603-2a7337d874a6",
    "CategoryInstanceName": "workflow1",
    "IsActive": true
  },
  {
    "$id": "2",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfAverageExecutionTimePerformanceCounterByResource, Dev2.Infrastructure",
    "PerfCounterType": 2,
    "IsActive": true,
    "Category": "Warewolf Services",
    "Name": "Average workflow execution time",
    "ResourceId": "a64fc548-3045-407d-8603-2a7337d874a6",
    "CategoryInstanceName": "workflow1"
  },
  {
    "$id": "3",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfCurrentExecutionsPerformanceCounterByResource, Dev2.Infrastructure",
    "PerfCounterType": 0,
    "Category": "Warewolf Services",
    "Name": "Concurrent requests currently executing",
    "ResourceId": "a64fc548-3045-407d-8603-2a7337d874a6",
    "CategoryInstanceName": "workflow1",
    "IsActive": true
  },
  {
    "$id": "4",
    "$type": "Dev2.PerformanceCounters.Counters.WarewolfRequestsPerSecondPerformanceCounterByResource, Dev2.Infrastructure",
    "Category": "Warewolf Services",
    "Name": "Request Per Second",
    "PerfCounterType": 1,
    "ResourceId": "a64fc548-3045-407d-8603-2a7337d874a6",
    "CategoryInstanceName": "workflow1",
    "IsActive": true
  }
]