<div id="releaseVersionContainer">
    <h1>Release New Version</h1>
    <div>
        <div>
            <label class="editor-label" for="PreviousVersion">Previous</label>
            <input class="editor-field" tabindex="1" readonly="readonly" id="PreviousVersion" name="PreviousVersion" type="text" data-bind="value: data.PreviousVersion" />
            <span style="padding-left: 20px" data-bind="text: data.PreviousVersionDate" />
        </div>
        <div>
            <label class="editor-label" for="CurrentVersion">Current</label>
            <input class="editor-field" tabindex="2" id="CurrentVersion" name="CurrentVersion" type="text" data-bind="value: data.CurrentVersion, valueUpdate: 'afterkeydown'" />
        </div>
        <div class="button-bar">
            <button tabindex="3" type="button" name="createRelease" id="createButton" title="Create the release" data-bind="click: createRelease, jEnable: isValid">Create</button>
            <button tabindex="4" type="button" name="uploadRelease" id="uploadButton" title="Upload the release" data-bind="click: uploadRelease, jEnable: canUpload">Upload</button>
            <button tabindex="5" type="button" name="rollbackUpload" id="rollbackButton" title="Not implemented yet" data-bind="click: rollbackUpload, jEnable: canRollback">Rollback</button>
        </div>
        <div class="error" data-bind="text: errorMessage">
            
        </div>
         <div class="success" data-bind="text: successMessage">
            
        </div>
    </div>
</div>


<script src="Views/ReleaseVersion.js"></script>

<script type="text/javascript">
    ReleaseVersionViewModel.create("releaseVersionContainer");
</script>
