<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="GetLatest" value="http://localhost:1234/services/Warewolf Release Workflow - Get Latest Version" />
        <add key="Create" value="http://localhost:1234/services/Warewolf Release Workflow - Create" />
        <add key="Upload" value="http://localhost:1234/services/Warewolf Release Workflow - Upload" />
        <add key="Rollback" value="http://localhost:1234/services/Warewolf Release Workflow - Rollback" />
    </appSettings>
    <system.web>
        <compilation debug="true" />
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>
</configuration>