<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="GetLatest" value="http://localhost:1234/services/Warewolf Release Database Service - Latest Version" />
        <add key="UpdateVersion" value="http://localhost:1234/services/Warewolf Release Update Version Numbers" />
        <add key="CreateRelease" value="http://localhost:1234/services/Warewolf Release Workflow?DoUpload=false" />
        <add key="UploadRelease" value="http://localhost:1234/services/Warewolf Release Workflow?DoUpload=true" />
    </appSettings>
    <system.web>
        <compilation debug="true" />
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>
</configuration>