<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="GetLatest" value="http://localhost:1234/services/Warewolf Release Database Service - Latest Version"/>
        <add key="UpdateVersion" value="http://localhost:1234/services/Warewolf Release Database Service - Update Latest"/>
        <add key="CreateRelease" value="http://localhost:1234/services/Warewolf Release Workflow?DoUpload=false"/>
        <add key="UploadRelease" value="http://localhost:1234/services/Warewolf Release Workflow?DoUpload=true"/>
    </appSettings>
    <system.web>
        <identity impersonate="false"/>
        <compilation debug="true"/>
    </system.web>
    <!--<system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*"/>
                <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS"/>
                <add name="Access-Control-Allow-Headers" value="Content-Type"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>-->
</configuration>