<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.1.7" targetFramework="net45" />
  <package id="Caliburn.Micro" version="1.4.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net45" />
  <package id="Dropbox.Api" version="4.2.4" targetFramework="net45" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="FluentAssertions" version="3.4.0" targetFramework="net45" />
  <package id="FSharp.Core.3" version="0.0.2" targetFramework="net45" />
  <package id="GroupControls" version="1.5.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net45" />
  <package id="TaskScheduler" version="2.5.20" targetFramework="net45" />
  <package id="TaskSchedulerEditor" version="2.5.20" targetFramework="net45" />
  <package id="TimeSpan2" version="2.1.4" targetFramework="net45" />
</packages>