<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.7.0" targetFramework="net452" />
  <package id="Accord.Video" version="3.7.0" targetFramework="net452" />
  <package id="Accord.Video.FFMPEG" version="3.7.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.5.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.2" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.32.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.18.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.5.1" targetFramework="net452" />
</packages>