<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="MainFeature" Level="1" Title="!(loc.FEATURE.MAINFEATURE.TITLE)" Description="!(loc.FEATURE.MAINFEATURE.DESCRIPTION)" Display="collapse">
      <ComponentGroupRef Id="Server" />
      <ComponentGroupRef Id="Studio" />
      <ComponentRef Id="ProgramMenuShortcut" /> 
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
    
    <!--<Feature Id="Documentation" Level="50" Title="!(loc.FEATURE.DOCUMENTATION.TITLE)" Description="!(loc.FEATURE.DOCUMENTATION.DESCRIPTION)" Display="expand">
      <ComponentRef Id="DocumentationCommon" />
      <Feature Id="English" Level="100" Title="!(loc.FEATURE.ENGLISH.TITLE)" Description="!(loc.FEATURE.ENGLISH.DESCRIPTION)" Display="1">
        <ComponentRef Id="DocumentationEnglish" />
        <ComponentRef Id="DocumentationPound" />
      </Feature>
      <Feature Id="French" Level="150" Title="!(loc.FEATURE.FRENCH.TITLE)" Description="!(loc.FEATURE.FRENCH.DESCRIPTION)" Display="2">
        <ComponentRef Id="DocumentationFrench" />
        <ComponentRef Id="DocumentationEuro" />
      </Feature>
      <Feature Id="German" Level="200" Title="!(loc.FEATURE.GERMAN.TITLE)" Description="!(loc.FEATURE.GERMAN.DESCRIPTION)" Display="3">
        <ComponentRef Id="DocumentationGerman" />
        <ComponentRef Id="DocumentationEuro" />
      </Feature>
    </Feature>-->
    
  </Fragment>
</Wix>