<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Product.Defines.wxi ?>
  <Fragment>
    <Property Id="ARPSYSTEMCOMPONENT" Value="1"/>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="AddRemovePrograms" Guid="{e2b8f4a8-e69b-46e4-96f5-f99e5fc6b826}">
        <RegistryValue Id="ARPEntry1" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="DisplayName" Value="!(loc.APPNAME)"/>
        <RegistryValue Id="ARPEntry2" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="DisplayVersion" Value="$(var.AppVersion)"/>
        <RegistryValue Id="ARPEntry3" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="Publisher" Value="$(var.AppManufacturer)"/>
        <RegistryValue Id="ARPEntry4" Type="integer" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="NoModify" Value="1"/>
        <RegistryValue Id="ARPEntry5" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="UninstallString" Value="&quot;[CommonAppDataFolder]\[ProductCode]\Uninstaller.exe&quot; !(loc.CULTURE)"/>
        <RegistryValue Id="ARPEntry6" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="VersionMajor" Value="$(var.AppVersionMajor)"/>
        <RegistryValue Id="ARPEntry7" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="VersionMinor" Value="$(var.AppVersionMinor)"/>
        <RegistryValue Id="ARPEntry8" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="DisplayIcon" Value="[CommonAppDataFolder]\[ProductCode]\Uninstaller.exe"/>
        <RegistryValue Id="ARPEntry9" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="LanguageCode" Value="!(loc.CULTURE)"/>
        <!-- <RegistryValue Id="ARPEntryN" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\WixMsi" Name="CustomProperty" Value="[CUSTOMPROPERTY]"/>  -->
      </Component>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="UninstallDir" Name="$(var.AppProductCode)">
          <Component Id="UninstallerExe" Guid="{8c1bfd98-7719-43aa-8941-dcc0f5733354}">
            <Condition>INSTALLSHORTCUT = 1</Condition>
            <File Id="UninstallerExeFile" Name="Uninstaller.exe" Source="$(var.OutDir)\Gui.exe" Vital="yes" KeyPath="yes">
              <Shortcut Id="UninstallerExeShortcut" Directory="ProgramMenuDir" Name="!(loc.SHORTCUT.UNINSTALLER.NAME)" WorkingDirectory="INSTALLDIR" Icon="icon.ico" IconIndex="0" Advertise="yes" Arguments="!(loc.CULTURE)" />
            </File>
          </Component>
          <Component Id="UninstallerExe_AppConfig" Guid="{ee02fe36-71aa-45de-91b6-ca5d921d3bf3}">
            <File Id="UninstallerExeFile_AppConfig" Name="Uninstaller.exe.config" Source="$(var.OutDir)\Gui.exe.config" Vital="yes" KeyPath="yes" />
          </Component>
          <Component Id="UninstallerDll" Guid="{26138a7f-390a-4683-892e-2de23da15dc4}">
            <File Id="UninstallerDllFile" Name="SharpSetup.dll" Source="$(var.OutDir)\SharpSetup.dll" Vital="yes" />
          </Component>
          <Component Id="UninstallerDll_$(var.GuiType)" Guid="{9ec6c4e5-ddab-4fe5-b24b-b71240a6f7f2}">
            <File Id="UninstallerDllFile_$(var.GuiType)" Name="SharpSetup.$(var.GuiType).dll" Source="$(var.OutDir)\SharpSetup.$(var.GuiType).dll" Vital="yes" />
          </Component>
          <?foreach Culture in $(var.Cultures) ?>
          <Directory Id="UninstallerDirLocalization_$(ss.Replace($(var.Culture), -, _))" Name="$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))">
            <?if $(var.Culture) != default ?>
            <!--<Component Id="UninstallerExeLocalization_$(ss.Replace($(var.Culture), -, _))" Guid="*">
              <File Id="UninstallerExeLocalizationFile_$(ss.Replace($(var.Culture), -, _))" Name="Gui.resources.dll" Source="$(var.OutDir)\$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))\Gui.resources.dll" Vital="yes" />
            </Component>-->
            <?endif?>
            
            <!--
            <Component Id="UninstallerDllLocalization_$(ss.Replace($(var.Culture), -, _))" Guid="*">
              <File Id="UninstallerDllLocalizationFile_$(ss.Replace($(var.Culture), -, _))" Name="SharpSetup.resources.dll" Source="$(var.OutDir)\$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))\SharpSetup.resources.dll" Vital="yes" />
            </Component>
            <Component Id="UninstallerDllLocalization_$(var.GuiType)_$(ss.Replace($(var.Culture), -, _))" Guid="*">
              <File Id="UninstallerDllLocalizationFile_$(var.GuiType)_$(ss.Replace($(var.Culture), -, _))" Name="SharpSetup.$(var.GuiType).resources.dll" Source="$(var.OutDir)\$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))\SharpSetup.$(var.GuiType).resources.dll" Vital="yes" />
            </Component>
            -->
            
          </Directory>
          <?endforeach?>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id="Uninstaller" Level="1" Title="!(loc.FEATURE.UNINSTALLER.TITLE)" Description="!(loc.FEATURE.UNINSTALLER.DESCRIPTION)" Display="hidden">
      <ComponentRef Id="UninstallerExe" />
      <ComponentRef Id="UninstallerExe_AppConfig" />
      <ComponentRef Id="UninstallerDll" />
      <ComponentRef Id="UninstallerDll_$(var.GuiType)" />
      <?foreach Culture in $(var.Cultures) ?>
      <!--<?if $(var.Culture) != default ?>
      <ComponentRef Id="UninstallerExeLocalization_$(ss.Replace($(var.Culture), -, _))" />
      <?endif?>-->
      <!--<ComponentRef Id="UninstallerDllLocalization_$(ss.Replace($(var.Culture), -, _))" />
      <ComponentRef Id="UninstallerDllLocalization_$(var.GuiType)_$(ss.Replace($(var.Culture), -, _))" />-->
      <?endforeach?>
      <ComponentRef Id="AddRemovePrograms" />
    </Feature>

  </Fragment>
</Wix>
