<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Product.Defines.wxi ?>
  <Product Id="$(var.AppProductCode)" Name="$(var.AppCode)" Language="!(loc.LANGUAGE)" Version="$(var.AppVersion)" Manufacturer="$(var.AppManufacturer)" UpgradeCode="$(var.AppUpgradeCode)">
    <Package Id="*" InstallerVersion="400" Compressed="yes" InstallPrivileges="elevated" AdminImage="yes"/> <!-- limited -->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="no" CompressionLevel="high" />
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="ALLUSERS" Value="1" /> <!-- was 1, trying 2 for installer issues ;) -->
    <Property Id="TEST" Value="NO" />
    <Property Id="INSTALLSHORTCUT" Value="1" /> <!-- Set from installer for shortcut creation -->
    <Icon Id="icon.ico" SourceFile="..\ProductBuild\Warewolf.ico" />

    <FeatureRef Id="MainFeature"/>
    <FeatureRef Id="Uninstaller"/>

    <!--
    <Binary Id="SharpSetupCAFile" SourceFile="$(var.SharpSetupToolsDir)\SharpSetup.CustomActions.CA.dll"/>
    <CustomAction Id="SampleCAData" Property="SampleCA" Value="CommandLine=C:\Windows\system32\ping.exe -n 10 127.0.0.1;ApproximateTime=10" Return="check" />
    <CustomAction Id="SampleCA" DllEntry="ExeCustomAction" BinaryKey="SharpSetupCAFile" Return="check" Execute="deferred" />
    <InstallExecuteSequence>
      <Custom Action="SampleCAData" Before="SampleCA"/>
      <Custom Action="SampleCA" Before="InstallFinalize"/>
    </InstallExecuteSequence>
    <UI>
      <ProgressText Action="SampleCA">Sample Custom Action</ProgressText>
    </UI>  
    -->
    
  </Product>
</Wix>