@inherits LayoutComponentBase
<BackendProvider RemoteEndpoint="https://localhost:5001/elsa/api" ApiKey="48587230567A646D394B435A6277734A-4802fa49-e91e-45e8-b00f-b5492377e20b"/>

<div class="btn-group">
  <a href="/workflow-definitions" class="btn btn-primary" aria-current="page">Workflow Definitions</a>
  <a href="/workflow-instances" class="btn btn-primary">Workflow Instances</a>
</div>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>