<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest.2010"
 generatorProvider="Dev2.CodedUI.SpecGenerator.MsTest2010CodedUiGeneratorProvider,
Dev2.CodedUI.SpecGenerator"
 runtimeProvider="TechTalk.SpecFlow.UnitTestProvider.MsTest2010RuntimeProvider,
TechTalk.SpecFlow"/>
    <stepAssemblies>
      <stepAssembly assembly="Dev2.Studio.UISpecs.dll" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>