<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
    <!--<add key="Dev2StudioSecurityMode" value="LDAP"></add>-->
    <add key="Dev2StudioSecurityMode" value="Offline"></add>
    <add key="Dev2StudioLDAPEndpoint" value="LDAP://premier.local"></add>
    <!-- Studio Side Storage Configuration -->
    <add key="StorageLayerSegments" value="2"></add>
    <add key="StorageLayerSegmentSize" value="16"></add>
    <add key="MaxLogFileSizeBytes" value="1048576" />
    <add key="CheckSumLocation" value="http://warewolf.io/checksum.txt" />
    <add key="TestCheckSumlocation" value="http://warewolf.io/testChecksum.txt" />
    <add key="VersionLocation" value="http://warewolf.io/version.txt" />
    <add key="TestVersionLocation" value="http://warewolf.io/testVersion.txt" />
    <add key="InstallerTesting" value="true" />
    <add key="LocalHostServer" value="http://localhost:3142" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>