.testingCSS{
	display:block;
}

body
{
    background-color: #818892; /* 5c87b2 */
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #fff;
	height:100%;
}

button{
	background-color:#27376a; /* 273759 */
	color:#fff;
	width:120px;
	margin-left:5px;
	border-radius:10px;
}

input{
	background-color:#fff;
	color:#1e3a77;
}

label{
	font-size:12px;
	font-weight:bold;
	display:block;
	white-space:nowrap;
}

/* Used to id help text in wizard */
.helpRegion{
	display:block;
	font-size:12px;
	color:#fff;
	padding:5px;
	background-color:#1e3a77;
	border-radius:5px;
	border:1px solid #fff;
	margin-left:5px; 
	margin-right:5px;
	width:250px;
	height:300px;
	overflow:auto;
	text-align:left;
}

.partHelpText{
	display:none;
}

/* Used to wrap custom data entry for list, radio buttons, checkboxes */
.customData{
	display:block;
	float:left;
	margin-top:5px;
	width:100%;
}

/* */
.internalError{
	color:#5C2E3B;
}

.advancedRegion{
	display:none;
}

.serviceDataBinding{
	display:none;
}

.customDataBinding{
	display:inline;
}

/* Here to allow required tickbox on wizards to operate with jQuery selectors :) */
.requiredClass{
	padding:inherit;
}

/* map client side validation to js in workflow */
.emailValidation{
	display:inline;
}
.letterValidation{
	display:inline;
} 
.wholeValidation{
	display:inline;
} 
.decimalValidation{
	display:inline;
} 
.letterNumbersValidation{
	display:inline;
}

/* used for datagrid */
.genericGridInputHeader{
	display:block;
	float:left;
	width:112px;
	margin-left:5px;
	height:20px;
}

.genericGridSelectHeader{
	display:block;
	float:left;
	width:72px;
	margin-left:5px;
	height:14px;
}

.genericGridSelectHeaderIEfix{
	display:block;
	float:left;
	width:72px;
	margin-left:-8px;
	height:14px;
}

.gridInputWidthHeader{
	display:block;
	float:left;
	width:58px;
	margin-left:5px;
}

.gridColNumHeader{
	display:block;
	float:left;
	width:68px;
	height:14px;
	margin-left:5px;
}

.genericGridInput{
	display:block;
	float:left;
	width:108px;
	margin-left:4px;
	height:14px;
}

.genericGridSelect{
	display:block;
	float:left;
	width:68px;
	margin-left:5px;
	height:20px;
}

.genericGridCheck{
	display:block;
	float:left;
	width:68px;
	margin-left:5px;
	height:20px;
}

.gridInputWidth{
	display:block;
	float:left;
	width:51px;
	margin-left:5px;
	height:14px;
}

/* allow editing of grid region */
.editableGridRegion{
	display:inherit;
}

.editGridButton{
	background-color:#999; /* 273759 */
	color:#fff;
	width:70px;
	font-size:10px;
	border-radius:5px;
}

.gridHeader{
	text-align:center; 
	font-weight:bold; 
	font-size:14px;
}

/* Tree view styling */
.treeContainer{
	border: 2px #bbb groove;
	width:100%;
	height:100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-y: scroll;
	-ms-overflow-x: hidden;
	background-color:#fff;
	color:#000;
}

.treeMenu{
	height:20px;
	width:100%;
	background-color:#eee;
	border: 2px #bbb groove;
	border-bottom: none;
}

.treeRegion{
	margin-left:0px;
}

.treeMenuButton{
	font-size:10px;
	background-color:#27376a; /* 273759 */
	color:#fff;
	width:auto;
	margin-left:2px;
	border-radius:5px;
}

.hiddenErrorMsg{
	display:none;
}

/* End Tree View Styling */

.pluginSrcMgtPathLabel{
	background-color:#fff;
	color:#777;
	width:78px;
	height:20px;
	float:left;
	margin-right:-35px; /* needs to be -35px */
	vertical-align:center;	
}

.pluginSrcMgtPathTxtBox {
	float:right;
	margin-right:15px; /* 15px  */
	width:133px;
}

.pluginSrcMgtTxtBoxNormal{
	float:left;
	margin-left:0px;
	width:200px;
}

.pluginSrcMgtPathButton{
	width:30px;
	float:left;
	margin-left:0px; /* this needs to be -30px in other browser */
}

/* Plugin Mgt CSS */

.functionLabel{
	float:left;
	margin-top:-80px;
}

.dbLabel{
	float:left;
	margin-top:-160px;
}

.hiddenBtn{
	display:none;
}

/* IO Mapping CSS */
.inputHeader{
	position:absolute;
	left:162px;
	font-size:16px;
	width:160px;
	text-align:center;
	margin-bottom:25px;
}

.outputHeader{
	position:absolute;
	left:750px;
	font-size:16px;
	width:160px;
	text-align:center;
	margin-bottom:25px;
}

.ioCol{
	float:left;
	width:200px;
	min-height:200px;
}

.ioColRight{
	float:left;
	width:85px;
	min-height:200px;
	border-right:1px solid #bbb;
	margin-right:10px;
}

.ioColData{
	margin-left:2px;
	height:20px;
	width:70px;
	overflow:hidden;
}

.ioHeader{
	position:absolute;
	left:200px;
	top:25px;
}

.ioHeader2{
	position:absolute;
	left:200px;
	top:45px;
}

.Dev2OutputLocation{
	width:220px;
}

.dbSourceField{
	margin-left:-1px;
}

/* Used to fetch Required checkboxes*/
.Dev2IOMappingRequired{}

/* Used to fetch Empty to Null checkboxes */
.Dev2IOMappingNull{}

/* Used to fetch Default values */
.Dev2IOMappingDefaultValue{}

.Dev2InputTestData{}

/* Used on DB Mapping Screen currently */
.ioMappingRegionStep2{
	float:left;
	width:522px;
	height:310px;
	overflow:auto;
	overflow-x: hidden;
	margin-top:10px;
}

.ioMappingRegionBtn{
	float:left;
	width:35px;
}

.ioMappingRegionHeaderStep2{
	float:left;
	width:522px;
	height:30px;
	overflow:auto;
	overflow-x: hidden;
	margin-top:-10px;
}

/* Used on Step 3 IO Mapping */
.ioMappingRegion0{
	float:left;
	width:575px;
	height:350px;
	overflow:auto;
	overflow-x: hidden;
	margin-top:25px;
}

.ioMappingRegion{
	float:left;
	width:502px;
	height:350px;
	overflow:auto;
	overflow-x: hidden;
	margin-top:25px;
}

.ioMappingRegion2{
	float:left;
	width:502px;
	height:350px;
	overflow:auto;
	overflow-x: hidden;
	margin-top:30px;
	margin-left:-85px;
	border-left: 1px solid #eee;
	padding:5px;
}

/* Used on Service Details Wizard IO Mapping input row headers */
.ioMappingInput1{
	position:absolute;
	margin-top:15px;
	left:2px;
	width:200px;
}

.ioMappingInput2{
	position:absolute;
	left:202px;
	margin-top:15px;
	width:140px;
}

.ioMappingInput3{
	position:absolute;
	left:412px;
	margin-top:15px;
	width:90px;
}

.ioMappingInput4{
	position:absolute;
	left:502px;
	margin-top:15px;
	width:70px;
}

.ioMappingOutput1Step2{
	position:absolute;
	margin-top:15px;
	width:250px;
	font-weight:bold;
}

.ioMappingOutput2Step2{
	position:absolute;
	margin-top:15px;
	width:160px;
	left:251px;
	font-weight:bold;
}


.ioMappingOutput1{
	position:absolute;
	margin-top:15px;
	left:645px;
	width:250px;
}

.ioMappingOutput2{
	position:absolute;
	left:910px;
	margin-top:15px;
	width:160px;
}

/* Used on Service Details Wizard IO Mapping input rows */
.ioMappingInputCol1{
	float:left;
	width:191px;
	height:20px;
	margin-top:3px;
	overflow:hidden;
	font-size:12px;
}

.ioMappingInputCol2{
	float:left;
	width:190px;
	height:16px;
	margin-left:2px;
}

.ioMappingInputCol3{
	float:left;
	width:90px;
	height:23px;
}

.ioMappingOutputCol1Input{
	float:left;
	width:244px;
	height:16px;
	margin-top:0px;
	overflow:hidden;
	font-size:12px;
}

.ioMappingOutputCol1{
	float:left;
	width:247px;
	height:20px;
	margin-top:3px;
	overflow:hidden;
	font-size:12px;
}

.ioMappingOutputCol2{
	float:left;
	width:204px;
	height:16px;
	margin-left:2px;
	font-size:12px;
}

.ioMappingOutputCol3{
	float:left;
	width:20px;
	height:16px;
	margin-left:2px;
	margin-top:3px;
	font-size:12px;
}

.ioMappingOutputCol4{
	float:left;
	width:80px;
	height:20px;
	margin-left:2px;
	margin-top:1px;
	font-size:12px;
}

.ioMappingInputRow{
	float:left;
	width:522px;
	height:25px;
}

.ioMappingInputRow2{
	float:left;
	width:592px;
	height:25px;
}

.ioForceToRSCheckbox{
	float:left;
	margin-left:-90px;
}