<mat-card style="margin: 15px;" class="mat-elevation-z15" fxFlex fxLayoutAlign="space-between" fxLayout="column">
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-between" fxFlex>
    <p> content </p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions fxFlex>
      <button mat-raised-button color="primary">button1</button>
      <button mat-raised-button color="primary">button2</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
