<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="Dev2StudioSecurityMode" value="LDAP"></add>-->
    <add key="Dev2StudioSecurityMode" value="Offline"></add>
    <add key="Dev2StudioLDAPEndpoint" value="LDAP://premier.local"></add>
  </appSettings>
</configuration>
