<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Get HTTP">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Warewolf.UI.Tests.UITestWcfEndpointService">
        <endpoint address="http://localhost:3144/UITestWcfEndpointService" binding="basicHttpBinding" bindingName="UITestWcfEndpointService" bindingConfiguration="" contract="Warewolf.UI.Tests.IUITestWcfEndpoint">
        </endpoint>
      </service>
      </services>
  </system.serviceModel>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow></configuration>

