<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net47" />
  <package id="SpecFlow.MsTest" version="2.3.2" targetFramework="net47" />
  <package id="System.Management.Automation" version="7.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net47" />
  <package id="TaskScheduler" version="2.8.1" targetFramework="net47" />
  <package id="TestStack.WhiteX" version="0.13.6" targetFramework="net48" />
  <package id="UIAComWrapperX" version="1.1.0.16" targetFramework="net48" />
</packages>