<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MSTest" />
  </specFlow>
  <appSettings>
    <add key="SecuritySpecsUser" value="SecuritySpecsUser" />
    <add key="SecuritySpecsPassword" value="ASfas123@!fda" />
    <add key="userGroup" value="Users" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
