<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  
  </configSections>
  

<appSettings>

  <add key="CollectUsageStats" value="true" />
  <add key="ConfigFilePath" value="C:\\ru" />
  <add key="ProductID" value="2385138160" />
  <add key="AppName" value="myww" />
  <add key="ProductUrl" value="48479.tbnet1.com" />
  <add key="AesHexKey" value="0CB8E65DF4C689B7E9453B2B3473D262" />

  <add key="IConfigFilePath" value="C:\\ru" />
  <add key="IProductID" value="" />
  <add key="IAppName" value="myww" />
  <add key="IProductUrl" value="48479.tbnet1.com" />
  <add key="IAesHexKey" value="0CB8E65DF4C689B7E9453B2B3473D262" />



</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="MSTest" /> 
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow></configuration>