<div class="ExecutionLogs">
  <form name="form" (ngSubmit)="onSubmit('Update')" #f="ngForm" novalidate>
    <div id="filterTable" class="filterTable">
      <div class="serverName filterTable">
        <label for="Server">Server</label>
      </div>
      <div class="protocol filterTable">
        <select class="form-control" id="protocolDropdown" name="protocolDropdown"
          (change)="ChangingPort($event.target.value)">
          <option selected="selected" value='http'>http</option>
          <option value='https'>https</option>
        </select>
      </div>
      <div class="serverDesc filterTable">://</div>
      <div class="serverText filterTable">
        <input class="Server serverText form-control text-box single-line" type="text" #serverNameInput
          name="serverNameInput" placeholder="Server" value={{serverName}}>
      </div>
      <div class="serverDesc filterTable">:</div>
      <div class="port filterTable">
        <input class="form-control text-box single-line" type="text" #PortInput placeholder="Port" name="Port"
          value="{{port}}">
      </div>
      <div class="updateBtn filterTable">
        <button id="updateServer" class="btn btn-default" type="submit" (click)="onSubmit('Update')">Update</button>
      </div>
    </div>
    <div id="executionFilters" class="executionFilters">
      <div class='filter-container'>
        <input id="ServerID" [(ngModel)]="model.ServerID" #ServerID="ngModel" autocomplete='off'
          class='form-control filter' name='ServerID' placeholder='ServerID' data-col='ServerID' />
      </div>
      <div class='filter-container'>
        <input id="WorkflowID" [(ngModel)]="model.WorkflowID" #WorkflowID="ngModel" autocomplete='off'
          class='form-control filter' name='WorkflowID' placeholder='WorkflowID' data-col='WorkflowID' />
      </div>
      <div class='filter-container'>
        <input id="WorkflowName" [(ngModel)]="model.WorkflowName" #WorkflowName="ngModel"
          autocomplete='off' class='form-control filter' name='WorkflowName' placeholder='WorkflowName'
          data-col='WorkflowName' />
      </div>
      <div class='filter-container'>
        <input id="ExecutionID" [(ngModel)]="model.ExecutionID" #ExecutionID="ngModel"
          autocomplete='off' class='form-control filter' name='ExecutionID' placeholder='ExecutionID'
          data-col='ExecutionID' />
      </div>
      <div class='filter-container'>
        <input id="ParentID" [(ngModel)]="model.filterParentID" #ParentID="ngModel" autocomplete='off'
          class='form-control filter' name='ParentID' placeholder='ParentID' data-col='ParentID' />
      </div>
      <div class='filter-container'>
        <input id="PreviousActivityId" [(ngModel)]="model.PreviousActivityId"
          #PreviousActivityId="ngModel" autocomplete='off' class='form-control filter'
          name='PreviousActivityId' placeholder='PreviousActivityId' data-col='PreviousActivityId' />
      </div>
      <div class='filter-container'>
        <input id="IsSubExecution" [(ngModel)]="model.IsSubExecution" #IsSubExecution="ngModel"
          autocomplete='off' class='form-control filter' name='IsSubExecution' placeholder='IsSubExecution'
          data-col='IsSubExecution' />
      </div>
      <div class='filter-container'>
        <input id="IsRemoteWorkflow" [(ngModel)]="model.IsRemoteWorkflow" #IsRemoteWorkflow="ngModel"
          autocomplete='off' class='form-control filter' name='IsRemoteWorkflow' placeholder='IsRemoteWorkflow'
          data-col='IsRemoteWorkflow' />
      </div>
      <div class='filter-container filterStartDateTime'>
        <input [(ngModel)]="model.StartDateTime" #StartDateTime="ngModel" id="StartDateTime" matInput
          [matDatepicker]="StartDateTime" autocomplete="off" placeholder="Choose a date"
          class='form-control filter' name='StartDateTime' (dateChange)="changeStartDate($event)">
        <mat-datepicker-toggle matSuffix [for]="StartDateTime"></mat-datepicker-toggle>
        <mat-datepicker [startAt]="" #StartDateTime></mat-datepicker>
      </div>
      <div class='filter-container filterCompletedDateTime'>
        <input [(ngModel)]="model.CompletedDateTime" #CompletedDateTime="ngModel"
          id="CompletedDateTime" matInput [matDatepicker]="CompletedDateTime" autocomplete="off"
          placeholder="Choose a date" class='form-control filter' name='CompletedDateTime'
          (dateChange)="changeEndDate($event)">
        <mat-datepicker-toggle matSuffix [for]="CompletedDateTime"></mat-datepicker-toggle>
        <mat-datepicker #CompletedDateTime></mat-datepicker>
      </div>
      <div class='filter-container filterContainFilter'>
        <button type="submit" class="btn btn-default" id="FilterButton" (click)="onSubmit('Filter')">Filter</button>
      </div>
      <div class='filter-container filterContainReset'>
        <button type="submit" class="btn btn-default" id="ResetButton" (click)="onSubmit('Clear')">Clear</button>
      </div>
    </div>
     </form>
  <div class="executionList">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <div id="loader">
        <div id="loader_1" class="loader"></div>
        <div id="loader_2" class="loader"></div>
        <div id="loader_3" class="loader"></div>
        <div id="loader_4" class="loader"></div>
        <div id="loader_5" class="loader"></div>
        <div id="loader_6" class="loader"></div>
        <div id="loader_7" class="loader"></div>
        <div id="loader_8" class="loader"></div>
    </div>
    </div>
    <mat-table id="executionList" class="logs-table mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="WorkflowName">
        <mat-header-cell *matHeaderCellDef>Workflow Name</mat-header-cell>
        <mat-cell class="WorkflowName-cell" *matCellDef="let logEntry">{{logEntry.WorkflowName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="AuditType">
        <mat-header-cell *matHeaderCellDef>AuditType</mat-header-cell>
        <mat-cell class="AuditType-cell" *matCellDef="let logEntry">{{logEntry.AuditType}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ExecutionID">
        <mat-header-cell *matHeaderCellDef>ExecutionID</mat-header-cell>
        <mat-cell *matCellDef="let logEntry">{{logEntry.ExecutionID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Url">
        <mat-header-cell *matHeaderCellDef>Url</mat-header-cell>
        <mat-cell class="Url-cell" *matCellDef="let logEntry">{{logEntry.Url}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell class="Status-cell" *matCellDef="let logEntry">{{logEntry.Status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="StartDateTime">
        <mat-header-cell *matHeaderCellDef>Timestamp</mat-header-cell>
        <mat-cell class="StartDateTime-cell" *matCellDef="let logEntry">{{logEntry.StartDateTime}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="User">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell class="User-cell" *matCellDef="let logEntry">{{logEntry.User}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ServerID">
        <mat-header-cell *matHeaderCellDef>ServerID</mat-header-cell>
        <mat-cell class="ServerID-cell" *matCellDef="let logEntry">{{logEntry.ServerID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ParentID">
        <mat-header-cell *matHeaderCellDef>ParentID</mat-header-cell>
        <mat-cell class="ParentID-cell" *matCellDef="let logEntry">{{logEntry.ParentID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="WorkflowID">
        <mat-header-cell *matHeaderCellDef>WorkflowID</mat-header-cell>
        <mat-cell class="WorkflowID-cell" *matCellDef="let logEntry">{{logEntry.WorkflowID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="PreviousActivityId">
        <mat-header-cell *matHeaderCellDef>PreviousActivityId</mat-header-cell>
        <mat-cell class="PreviousActivityId-cell" *matCellDef="let logEntry">{{logEntry.PreviousActivityId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsSubExecution">
        <mat-header-cell *matHeaderCellDef>IsSubExecution</mat-header-cell>
        <mat-cell class="IsSubExecution-cell" *matCellDef="let logEntry">{{logEntry.IsSubExecution}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsRemoteWorkflow">
        <mat-header-cell *matHeaderCellDef>IsRemoteWorkflow</mat-header-cell>
        <mat-cell class="IsRemoteWorkflow-cell" *matCellDef="let logEntry">{{logEntry.IsRemoteWorkflow}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)">
      </mat-row>
    </mat-table>
    <!--<mat-paginator [length]="logEntry?.Count" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>-->
  </div>
</div>
