 div.fileinputs{
	position:relative;
	width:250px;
	height:25px;
 }
 
 div.fakefile{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
 }
 
 input.file{
	position:absolute;
	left:0px;
	right:0px;
	text-align:right;
	-moz-opacity:0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
 }