.testingCSS{
	display:block;
}

body
{
    background-color: #818892; /* 5c87b2 */
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #fff;
	height:100%;
}

button{
	background-color:#27376a; /* 273759 */
	color:#fff;
	width:120px;
	margin-left:5px;
	border-radius:10px;
}

input{
	background-color:#fff;
	color:#1e3a77;
}

label{
	font-size:12px;
	font-weight:bold;
	display:block;
	white-space:nowrap;
}

/* Used to id help text in wizard */
.helpRegion{
	display:block;
	font-size:12px;
	color:#fff;
	padding:5px;
	background-color:#1e3a77;
	border-radius:5px;
	border:1px solid #fff;
	margin-left:5px; 
	margin-right:5px;
	width:250px;
	height:300px;
	overflow:auto;
	text-align:left;
}

.partHelpText{
	display:none;
}

/* Used to wrap custom data entry for list, radio buttons, checkboxes */
.customData{
	display:block;
	float:left;
	margin-top:5px;
	width:100%;
}

/* */
.internalError{
	color:#5C2E3B;
}

.advancedRegion{
	display:none;
}

.serviceDataBinding{
	display:none;
}

.customDataBinding{
	display:inline;
}

/* Here to allow required tickbox on wizards to operate with jQuery selectors :) */
.requiredClass{
	padding:inherit;
}

/* map client side validation to js in workflow */
.emailValidation{
	display:inline;
}
.letterValidation{
	display:inline;
} 
.wholeValidation{
	display:inline;
} 
.decimalValidation{
	display:inline;
} 
.letterNumbersValidation{
	display:inline;
}

/* used for datagrid */
.genericGridInputHeader{
	display:block;
	float:left;
	width:112px;
	margin-left:5px;
	height:20px;
}

.genericGridSelectHeader{
	display:block;
	float:left;
	width:72px;
	margin-left:5px;
	height:14px;
}

.genericGridSelectHeaderIEfix{
	display:block;
	float:left;
	width:72px;
	margin-left:-8px;
	height:14px;
}

.gridInputWidthHeader{
	display:block;
	float:left;
	width:58px;
	margin-left:5px;
}

.gridColNumHeader{
	display:block;
	float:left;
	width:68px;
	height:14px;
	margin-left:5px;
}

.genericGridInput{
	display:block;
	float:left;
	width:108px;
	margin-left:4px;
	height:14px;
}

.genericGridSelect{
	display:block;
	float:left;
	width:68px;
	margin-left:5px;
	height:20px;
}

.genericGridCheck{
	display:block;
	float:left;
	width:68px;
	margin-left:5px;
	height:20px;
}

.gridInputWidth{
	display:block;
	float:left;
	width:51px;
	margin-left:5px;
	height:14px;
}

/* allow editing of grid region */
.editableGridRegion{
	display:inherit;
}

.editGridButton{
	background-color:#999; /* 273759 */
	color:#fff;
	width:70px;
	font-size:10px;
	border-radius:5px;
}

.gridHeader{
	text-align:center; 
	font-weight:bold; 
	font-size:14px;
}

/* Tree view styling */
.treeContainer{
	border: 2px #bbb groove;
	width:100%;
	height:100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-y: scroll;
	-ms-overflow-x: hidden;
	background-color:#fff;
	color:#000;
}

.treeMenu{
	height:20px;
	width:100%;
	background-color:#eee;
	border: 2px #bbb groove;
	border-bottom: none;
}

.treeRegion{
	margin-left:0px;
}

.treeMenuButton{
	font-size:10px;
	background-color:#27376a; /* 273759 */
	color:#fff;
	width:auto;
	margin-left:2px;
	border-radius:5px;
}

.hiddenErrorMsg{
	display:none;
}

/* End Tree View Styling */

.pluginSrcMgtPathLabel{
	background-color:#fff;
	color:#777;
	width:78px;
	height:20px;
	float:left;
	margin-right:-35px; /* needs to be -35px */
	vertical-align:center;	
}

.pluginSrcMgtPathTxtBox {
	float:right;
	margin-right:15px; /* 15px  */
	width:133px;
}

.pluginSrcMgtTxtBoxNormal{
	float:left;
	margin-left:0px;
	width:200px;
}

.pluginSrcMgtPathButton{
	width:30px;
	float:left;
	margin-left:0px; /* this needs to be -30px in other browser */
}

/* Plugin Mgt CSS */

.functionLabel{
	float:left;
	margin-top:-120px;
}

.dbLabel{
	float:left;
	margin-top:-80px;
}

.hiddenBtn{
	display:none;
}

/* IO Mapping CSS */
.inputHeader{
	float:left;
	font-size:16px;
	width:155px;
	text-align:center;
	margin-bottom:5px;
}

.ioCol{
	float:left;
	width:200px;
	min-height:200px;
}

.ioColRight{
	float:left;
	width:85px;
	min-height:200px;
	border-right:1px solid #bbb;
	margin-right:10px;
}

.ioColData{
	margin-left:2px;
}

.ioHeader{
	position:absolute;
	left:200px;
	top:25px;
}

.Dev2OutputLocation{
	width:220px;
}

.dbSourceField{
	margin-left:-1px;
}

.Dev2IOMappingRequired{}

.Dev2IOMappingDefaultValue{}

.Dev2InputTestData{}