<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CollectUsageStats" value="False" />
    <add key="ConfigFilePath" value="C:\\ProgramData\\Warewolf\\tracker" />
    <add key="ProductID" value="2385138160" />
    <add key="AppName" value="myww" />
    <add key="ProductUrl" value="48479.tbnet1.com" />
    <add key="AesHexKey" value="0CB8E65DF4C689B7E9453B2B3473D262" />
    <add key="IConfigFilePath" value="d:\\ru" />
    <add key="IProductID" value="2385138160234234" />
    <add key="IAppName" value="wws" />
    <add key="IProductUrl" value="4asda" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>

