<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CollectUsageStats" value="true" />
    <add key="ConfigFilePath" value="C:\\ru" />
    <add key="ProductID" value="2385138160" />
    <add key="AppName" value="myww" />
    <add key="ProductUrl" value="48479.tbnet1.com" />
    <add key="AesHexKey" value="0CB8E65DF4C689B7E9453B2B3473D262" />


    <add key="IConfigFilePath" value="d:\\ru" />
    <add key="IProductID" value="2385138160" />
    <add key="IAppName" value="wws" />
    <add key="IProductUrl" value="4asda" />
   
  </appSettings>
</configuration>