<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="secureSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <secureSettings configSource="Dev2.Server.exe.secureconfig" />
  <appSettings>
    <add key="endpointAddress" value="http://localhost:77/dsf" />
    <add key="netTcpAddress" value="net.tcp://localhost:73/dsf" />
    <add key="managementEndpointAddress" value="net.tcp://localhost:7658/dsfmanager" />
    <add key="sqlCommandTimeoutSeconds" value="120" />
    <add key="webServerPort" value="1234" />
    <add key="webServerSslPort" value="1236" />
    <add key="webServerEnabled" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LoggingEnabled" value="true" />
    <add key="SupportedFileExtensions" value=".js,.css,.jpg,.jpeg,.bmp,.bm,.gif,.ico,.tiff,.png,.htm,.html" />
    <add key="DataListLvl2CacheCapacity" value="2048"/>
    <add key="DataListLvl2CachePollInterval" value="00:00:05"/>
    <add key="ConfigurationSettingsFolder" value="Settings"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Persistence" connectionString="Server=RSAKLFSAMEERCHUNILALL;Database=WFPersistenceStore;Integrated SecuritunlimitedReq.GetElement("QueryResult").SetValue(result.ToString());y=true"/>-->
    <add name="Persistence" connectionString="Server=RSAKLFSVRGENDEV;Database=WFPersistenceStore;Integrated Security=true" />
  </connectionStrings>
  <system.transactions>
    <defaultSettings timeout="02:00:00" />
  </system.transactions>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="http://localhost:1234/" maxconnection="10" />
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
    <runtime>
      <gcServer enabled="true"/>
    </runtime>
</configuration>