<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="secureSettings" type="System.Configuration.NameValueSectionHandler" />
        <section name="subscriptionSettings" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <secureSettings configSource="Warewolf Server.exe.secureconfig" />
    <subscriptionSettings configSource="Warewolf License.secureconfig" />
    <appSettings file="userServerSettings.config">
        <add key="webServerEnabled" value="true" />
        <add key="webServerSslEnabled" value="true" />
        <add key="SupportedFileExtensions" value=".js,.css,.jpg,.jpeg,.bmp,.bm,.gif,.ico,.tiff,.png,.htm,.html" />
        <add key="MinSupportedVersion" value="0.7.0.0" />
        <add key="SupportsDirectServerDeploy" value="true" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ProductID" value="2386158864" />
        <add key="AppName" value="Server" />
        <add key="ProductUrl" value="40589.tbnet1.com" />
        <add key="AesHexKey" value="48BA81DB9B42735757D3F59F8905F1B2" />
    </appSettings>
    <runtime>
        <loadFromRemoteSources enabled="true" />
        <gcServer enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Cors" publicKeyToken="31BF3856AD364E35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Log4Net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>