<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webServerPort" value="3142" />
  <add key="webServerSslPort" value="3143" />
  <add key="sslCertificateName" value="WarewolfServer.cer" />
  <add key="CollectUsageStats" value="false" />
  <add key="DaysToKeepTempFiles" value="2" />
</appSettings>