<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!-- CefSharp 2.5 Correction -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings file="userStudioSettings.config">
    <add key="CheckSumLocation" value="http://warewolf.io/checksum.txt" />
    <add key="TestCheckSumlocation" value="http://warewolf.io/testChecksum.txt" />
    <add key="VersionLocation" value="http://warewolf.io/version.txt" />
    <add key="TestVersionLocation" value="http://warewolf.io/testVersion.txt" />
    <add key="InstallerTesting" value="false" />
    <add key="GitRegistryKey" value="SOFTWARE\Classes\Directory\background\shell\git_shell\command" />
    <add key="ServiceName" value="Warewolf Server" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ProductID" value="2386158962" />
    <add key="AppName" value="Studio" />
    <add key="ProductUrl" value="94687.tbnet1.com" />
    <add key="AesHexKey" value="D1D029CE5C68C2CE21192ECC8ADE1DC0" />
    <add key="QueryStringMaxLength" value="2048" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="Dev2.Providers.Logs.CustomTextWriter, Dev2.Infrastructure" name="TextWriter" initializeData="" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- AppContextSwitchOverrides values are in the form of 'key1=true|false;key2=true|false  -->
    <!-- Please note that disabling Switch.UseLegacyAccessibilityFeatures, Switch.UseLegacyAccessibilityFeatures.2 and Switch.UseLegacyAccessibilityFeatures.3 is required to disable Switch.System.Windows.Forms.UseLegacyToolTipDisplay -->
    <AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=true;Switch.UseLegacyAccessibilityFeatures.2=true;Switch.UseLegacyAccessibilityFeatures.3=true;Switch.System.Windows.Forms.UseLegacyToolTipDisplay=true"/>
  </runtime>
</configuration>
