<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!-- CefSharp 2.5 Correction -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings file="userStudioSettings.config">
    <add key="CheckSumLocation" value="http://warewolf.io/checksum.txt" />
    <add key="TestCheckSumlocation" value="http://warewolf.io/testChecksum.txt" />
    <add key="VersionLocation" value="http://warewolf.io/version.txt" />
    <add key="TestVersionLocation" value="http://warewolf.io/testVersion.txt" />
    <add key="InstallerTesting" value="false" />
    <add key="GitRegistryKey" value="SOFTWARE\Classes\Directory\background\shell\git_shell\command" />
    <add key="ServiceName" value="Warewolf Server" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ProductID" value="2386158962" />
    <add key="AppName" value="Studio" />
    <add key="ProductUrl" value="94687.tbnet1.com" />
    <add key="AesHexKey" value="D1D029CE5C68C2CE21192ECC8ADE1DC0" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="Dev2.Providers.Logs.CustomTextWriter, Dev2.Infrastructure" name="TextWriter" initializeData="" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
