<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="LocalHostServer" value="http://localhost:3142"/>
    <add key="CollectUsageStats" value="false" />


  <add key="ConfigFilePath" value="C:\\ru" />

  <add key="ProductID" value="2382138068" />
  <add key="AppName" value="WareWolf" />
  <add key="ProductUrl" value="91503.tbnet1.com" />
  <add key="AesHexKey" value="DEE8704ED283D95864D4AF725E0BBB12" />

  <add key="ProductVersion" value="1.0.0.1" />
  
  
</appSettings>