<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="LocalHostServer" value="http://localhost:3142"/>    
    <add key="CollectUsageStats" value="True" />
    <add key="ConfigFilePath" value="C:\\ru" />
    <add key="ProductID" value="2386138164" />
    <add key="AppName" value="TestWF" />
    <add key="ProductUrl" value="68767.tbnet1.com" />
    <add key="AesHexKey" value="C4DB2F1AD718B699ABAC85D50711A57E" />
    
</appSettings>