<?xml version="1.0"?>
<configuration>
    <!-- CefSharp 2.5 Correction -->
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <!--<add key="Dev2StudioSecurityMode" value="LDAP"></add>-->
        <add key="Dev2StudioSecurityMode" value="Offline"></add>
        <add key="Dev2StudioLDAPEndpoint" value="LDAP://premier.local"></add>
        <!-- Studio Side Storage Configuration -->
        <add key="StorageLayerSegments" value="2"></add>
        <add key="StorageLayerSegmentSize" value="16"></add>
        <add key="MaxLogFileSizeBytes" value="1048576"/>
        <add key="LocalHostServer" value="http://localhost:3142"/>
    </appSettings>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add type="Dev2.Providers.Logs.CustomTextWriter, Dev2.Infrastructure" name="TextWriter" initializeData="Warewolf Studio.log"/>
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
            </dependentAssembly>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
